body {
  text-align: center;
  font-family: Georgia (sans-serif);
  color: #ffffff;
  font-size: 28px;
  background-color: #ff0000;
}
.form-titles{
  font-family:fantasy;
  color:white;
  font-size: 30px;
  text-align:center;
}

.details{
  font-family:sans-serif;
  color:blue;
  font-size: 26px;
  text-align:center;
}